@media only screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        gap: 2rem;
    }

     .info-container {
        grid-template-columns: 1fr 1fr;
    }
    .hero-text {
         width: auto;
         max-width: 450px;
         padding: 1.5rem;
     }

.hero-text h1 {
    font-size: 2rem;
}

.hero-text p {
    font-size: 1rem;
}

.cta-button {
    padding: 1rem 2rem;
    font-size: 1rem;
}

    .cta-button {
         padding: 1rem 2rem;
         font-size: 1rem;
    }

    #spotlight-container {
         grid-template-columns: repeat(3, 1fr);
    }

    .grid {
         grid-template-columns: repeat(3, 1fr);
    }

    .hero {
        margin-bottom: 4rem;
    }

    .intro {
        max-width: 1100px;
        margin: 5rem auto 3rem;
        padding: 3rem;
    }

    footer {
    display: flex;
    justify-content: space-between;
    background-color: #003366;
    text-align: center;
    padding: 20px 10px;
    margin-top: 14px;
    }

    .socials {
        margin-bottom: 14px;
    }

    #lastModified {
    color: yellow;
    display: block;
    align-items: center;
    }

    .socials a {
        text-decoration: none;
        color: yellow;
        font-weight: bold;
        margin: 0 12px;
        font-size: 1.2rem;
    }

    .socials a:hover {
        color: #555555;
    }

    footer p {
        margin: 5px 0;
        font-size: 0.9rem;
    }
}