@media only screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        gap: 2rem;
    }

     .info-container {
        grid-template-columns: 1fr 1fr;
    }

    #spotlight-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero {
        margin-bottom: 4rem;
    }

    .intro {
        max-width: 1100px;
        margin: 5 rem auto 3 rem auto;
        padding: 3rem;
    }

    .footer {
    display: flex;
    justify-content: space-between;
    background-color: #dcdcdc;
    text-align: center;
    padding: 20px 10px;
    margin-top: 14px;
    }

    .socials {
        margin-bottom: 14px;
    }

    .socials a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin: 0 12px;
        font-size: 1.2rem;
    }

    .socials a:hover {
        color: #555;
    }

    footer p {
        margin: 5px 0;
        font-size: 0.9rem;
    }
}