body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #222;
}

header {
    background-color: #003366;
    color: white;
    padding: 1rem;
}

.logo p {
    font-size: 1.5rem;
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navigation {
    display: none;
    list-style: none;
    margin-top: 1rem;
}

.navigation.open {
    display: block;
}

.navigation li {
    margin: 1rem 0;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
    margin: auto;
}

.hero-text h1 {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
    line-height:1.1;
}

.hero-text {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 55%;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 1rem;
    border-radius: 10px;
    color: white;
}

.cta-button {
    display: inline-block;

    padding: 0.4rem 0.8rem;

    font-size: 0.8rem;
    font-weight: bold;

    background-color: #ff9900;
    color: black;

    text-decoration: none;

    border-radius: 5px;
}

.intro {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.info-container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background: white;
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.spotlights {
    background: white;
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#spotlight-container {
    display: grid;
    gap: 1rem;
}

main {
    padding: 1rem;
}

main h2 {
    margin-bottom: 1rem;
}

.menu-buttons {
    margin-bottom: 1rem;
}

.menu-buttons button {
    padding: 0.7rem 1rem;
    border: none;
    background-color: #cc7000;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 5px;
}

.weather {
    background: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 1rem;
}

.weather-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.weather-icon {
    width: 90px;
    height: 90px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.weather-info p {
    margin: 0;
    font-size: 1rem;
}

.temp {
    font-size: 2rem;
    font-weight: bold;
    color: #0d47a1;
}

#description {
    text-transform: capitalize;
    color: #555;
    font-weight: 500;
}
.grid {
    display: grid;
    gap: 1rem;
}

.grid section {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.grid img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
}

.grid h3 {
    margin: 0rem 0;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list section {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

.list img {
    display: none;
}

footer {
    background-color: #003366;
    color: white;
    padding: 2rem 1rem;
    margin-top: 2rem;
}
#lastModified {
    color: yellow;
    display: block;
    align-items: center;
}

.socials {
    margin-bottom: 14px;
}

.socials a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 12px;
    font-size: 1.2rem;
}

.socials a:hover {
    color: #555;
}

footer p {
    margin: 5px 0;
    font-size: 0.9rem;
}

